## Capstone Project

### Import Libraies

In [1]:
import pandas as pd
import numpy as np

## Imporat The Data

In [2]:
disaster_df = pd.read_csv("Disaster Data.csv", encoding="latin1")

In [3]:
disaster_df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1904-0001-USA,Yes,tec-tra-wat-wat,Technological,Transport,Water,Water,NaN,"Steamboat ""General Slocum""",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.864401,NaN,1/7/2003,25/9/2023
1,1904-0003-BGD,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,2.864401,NaN,1/7/2003,25/9/2023
2,1904-0004-USA,Yes,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,2.864401,NaN,1/7/2003,25/9/2023
3,1904-0006-BEL,Yes,tec-mis-exp-exp,Technological,Miscellaneous accident,Explosion (Miscellaneous),Explosion (Miscellaneous),NaN,Military fort,BEL,...,NaN,NaN,NaN,NaN,NaN,NaN,2.864401,NaN,13/4/2005,25/9/2023
4,1904-0007-TWN,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,TWN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.864401,NaN,5/8/2019,25/9/2023

In [4]:
disaster_df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

# View the type of cloumns

In [5]:
disaster_df.dtypes

DisNo.                                        object
Historic                                      object
Classification Key                            object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
External IDs                                  object
Event Name                                    object
ISO                                           object
Country                                       object
Subregion                                     object
Region                                        object
Location                                      object
Origin                                        object
Associated Types                              object
OFDA/BHA Response                             object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Magnitude                                    float64
Magnitude Scale                               object
Latitude                                     float64
Longitude                                    float64
River Basin                                   object
Start Year                                     int64
Start Month                                  float64
Start Day                                    float64
End Year                                       int64
End Month                                    float64
End Day                                      float64
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total Damage ('000 US$)                      float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

## Exlude some date

In [6]:
disaster_df1 = disaster_df[(disaster_df['Start Year'] >= 1976) & (disaster_df['Start Year'] <= 2024)]

In [7]:
disaster_df1.shape

(24444, 46)

## Check the nulls

In [8]:
disaster_df1.isnull().mean().sort_values(ascending= False) *100

Reconstruction Costs ('000 US$)              99.828179
Reconstruction Costs, Adjusted ('000 US$)    99.828179
AID Contribution ('000 US$)                  96.780396
Insured Damage, Adjusted ('000 US$)          95.344461
Insured Damage ('000 US$)                    95.344461
River Basin                                  93.577156
Longitude                                    90.353461
Latitude                                     90.353461
No. Homeless                                 90.054819
Associated Types                             83.795614
External IDs                                 82.212404
Origin                                       80.903289
Magnitude                                    80.637375
Total Damage ('000 US$)                      78.501882
Total Damage, Adjusted ('000 US$)            78.501882
Event Name                                   67.951235
No. Injured                                  65.811651
Admin Units                                  65.582556
No. Affected                                 56.500573
Magnitude Scale                              38.406153
Total Affected                               30.101456
Total Deaths                                 20.626739
Start Day                                    13.201604
End Day                                      12.792505
Location                                      7.650139
End Month                                     2.286860
Start Month                                   1.317297
Historic                                      0.000000
Classification Key                            0.000000
DisNo.                                        0.000000
Region                                        0.000000
Subregion                                     0.000000
Country                                       0.000000
ISO                                           0.000000
Disaster Subtype                              0.000000
Disaster Group                                0.000000
Disaster Subgroup                             0.000000
Disaster Type                                 0.000000
End Year                                      0.000000
Start Year                                    0.000000
Appeal                                        0.000000
Declaration                                   0.000000
OFDA/BHA Response                             0.000000
CPI                                           0.000000
Entry Date                                    0.000000
Last Update                                   0.000000
dtype: float64

## Fill the nulls in "Start Day" with the "End Day"

In [9]:
disaster_df1['Start Day'] = disaster_df1['Start Day'].fillna(disaster_df1['End Day'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_8736\436952168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disaster_df1['Start Day'] = disaster_df1['Start Day'].fillna(disaster_df1['End Day'])

In [10]:
disaster_df1['Start Day'].isnull().sum()

np.int64(3012)

## Drop the rows with nulls in "Start Day"

In [11]:
disaster_df1 = disaster_df1.dropna(subset=['Start Day'])

In [12]:
disaster_df1['Start Day'].isnull().sum()

np.int64(0)

## Fill the nulls in "Start Month" with the "End Month"

In [13]:
disaster_df1['Start Month'] = disaster_df1['Start Month'].fillna(disaster_df1['End Month'])

In [14]:
disaster_df1['Start Month'].isnull().sum()

np.int64(0)

## Drop the rows with Nulls in "Total Deaths" & "Total Affected"

In [15]:
disaster_df1 = disaster_df1.dropna(subset=['Total Deaths'])
disaster_df1 = disaster_df1.dropna(subset=['Total Affected'])

In [16]:
disaster_df1.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

## Change The Type of some Columns:

In [17]:
disaster_df1['Start Month'] = disaster_df1['Start Month'].astype('int')
disaster_df1['Start Day'] = disaster_df1['Start Day'].astype('int')

## Create a "Date" column

In [18]:
disaster_df1['Date']= pd.to_datetime({
    'year': disaster_df1['Start Year'],
    'month': disaster_df1['Start Month'],
    'day': disaster_df1['Start Day']
}, errors='coerce')

In [19]:
disaster_df1[disaster_df1['Date'].isna()][['Start Year','Start Month','Start Day']]

       Start Year  Start Month  Start Day
8661         1996           11         31
15006        2005            4         31
20745        2014            2         29
22229        2016           11         31
23122        2018            6         31

## Fix the error in the Date " This done by search"

In [20]:
import calendar

def fix_invalid_dates(df, year_col, month_col, day_col):
    for idx, row in df.iterrows():
        y = int(row[year_col])
        m = int(row[month_col])
        d = int(row[day_col])

        # max days in this month/year
        max_day = calendar.monthrange(y, m)[1]

        # if day is higher than allowed, correct it
        if d > max_day:
            df.at[idx, day_col] = max_day

    return df

# Apply it
disaster_df1 = fix_invalid_dates(
    disaster_df1,
    'Start Year', 'Start Month', 'Start Day'
)

## Create the "Date" Column

In [21]:
disaster_df1['Date'] = pd.to_datetime({
    'year': disaster_df1['Start Year'],
    'month': disaster_df1['Start Month'],
    'day': disaster_df1['Start Day']
})

In [22]:
disaster_df1.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update', 'Date'],
      dtype='object')

## Fill a specific nulls with the value by search in 'Magnitude' column & for the "earthquakes" disaster type only

In [23]:
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'United Republic of Tanzania') &(disaster_df1['Date'] == '1964-05-07') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 6.5
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Soviet Union') &(disaster_df1['Date'] == '1966-04-26') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 5.2
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Yugoslavia') &(disaster_df1['Date'] == '1967-11-30') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 6.6
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Philippines') &(disaster_df1['Date'] == '1968-08-02') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 7.3
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Philippines') &(disaster_df1['Date'] == '1970-04-07') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 7.4
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Cuba') &(disaster_df1['Date'] == '1976-02-19') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 5.9
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Ecuador') &(disaster_df1['Date'] == '1976-10-04') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 5.1
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Italy') &(disaster_df1['Date'] == '1976-09-09') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 6.5
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Indonesia') &(disaster_df1['Date'] == '1977-08-27') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 6.8
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Indonesia') &(disaster_df1['Date'] == '1979-07-18') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 5.0
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Türkiye') &(disaster_df1['Date'] == '1984-09-18') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 5.5
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Italy') &(disaster_df1['Date'] == '1984-10-20') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 4.2
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Taiwan (Province of China)') &(disaster_df1['Date'] == '1986-11-15') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 7.4
disaster_df1.loc[(disaster_df1['Disaster Type'] == 'Earthquake') &(disaster_df1['Country'] == 'Peru') &(disaster_df1['Date'] == '1996-02-21') &(disaster_df1['Magnitude'].isna()),'Magnitude'] = 7.5

In [24]:
disaster_df1.shape

(12237, 47)

## Change The Type of some Columns:

In [25]:
disaster_df1['Total Deaths'] = disaster_df1['Total Deaths'].astype('int')
disaster_df1['Total Affected'] = disaster_df1['Total Affected'].astype('int')

In [26]:
disaster_df1.dtypes

DisNo.                                               object
Historic                                             object
Classification Key                                   object
Disaster Group                                       object
Disaster Subgroup                                    object
Disaster Type                                        object
Disaster Subtype                                     object
External IDs                                         object
Event Name                                           object
ISO                                                  object
Country                                              object
Subregion                                            object
Region                                               object
Location                                             object
Origin                                               object
Associated Types                                     object
OFDA/BHA Response                                    object
Appeal                                               object
Declaration                                          object
AID Contribution ('000 US$)                         float64
Magnitude                                           float64
Magnitude Scale                                      object
Latitude                                            float64
Longitude                                           float64
River Basin                                          object
Start Year                                            int64
Start Month                                           int64
Start Day                                             int64
End Year                                              int64
End Month                                           float64
End Day                                             float64
Total Deaths                                          int64
No. Injured                                         float64
No. Affected                                        float64
No. Homeless                                        float64
Total Affected                                        int64
Reconstruction Costs ('000 US$)                     float64
Reconstruction Costs, Adjusted ('000 US$)           float64
Insured Damage ('000 US$)                           float64
Insured Damage, Adjusted ('000 US$)                 float64
Total Damage ('000 US$)                             float64
Total Damage, Adjusted ('000 US$)                   float64
CPI                                                 float64
Admin Units                                          object
Entry Date                                           object
Last Update                                          object
Date                                         datetime64[ns]
dtype: object

## Drop columns

In [27]:
disaster_df1 = disaster_df1.drop(['Entry Date', 'Last Update', 'ISO'], axis=1)

In [28]:
disaster_df1.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Date'],
      dtype='object')

## Save Data

In [29]:
disaster_df1.to_csv('Disasters Clean.csv', index=False)